.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 16%;
  background-color: #282c34;
  color: #f6f6f6;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
}
.product-info {
  background-color: inherit;
}
.product-card:hover {
  background-color: #383d46;
  cursor: pointer;
}

.rating {
  margin-bottom: 6px;
}

.product-image img {
  width: 100%;
}

.product-info {
  color: inherit;
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}
@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
